.featured-section{
    background-color: #F9F6F6;
    padding: 1px;
    padding: 5rem 0;

}

.cards{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1.5%;
    padding: 4rem 0;
}

.card{
    width: 20%;
    border: 1px solid #E0D8D7;
    border-bottom: 3px solid #ED1C24;
    margin-right: 5px;
    color: #400E03;
    font-size: 14px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card p{
    line-height: 1.5rem;
}

.buttons{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    padding-top: auto;

}

.buttons button{
    padding: .7rem 1.5rem;
    width: 50%;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.buttons .button-1{
    background-color: #FDE4E5;
    color: #ED1C24;
    margin-right: .5rem;
}
.buttons .button-2{
    background-color: #ED1C24;
    color: #FDE4E5;
}

.arrow{
    background-color: #400E03;
    padding: 1rem;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
}

.featured-section h1{
    color: #400E03;
    text-align: center;
    margin: 0;
    font-size: 2rem;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.pagi{
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    background-color: #ED1C24;
}

.pagination .active{
    height: .7rem;
    width: .7rem;
}

@media only screen and (max-width: 600px) {
    .card-hide{
        display: none;
    }
    .card{
        width: 70%;
    }
    .arrow{
        display: none;
    }
    .buttons button{
        font-size: 12px;
        padding: 1rem 0;
    }
}